@import "reset.css";

* {
  box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

.container {
    margin: 0;
    width: max-content;
}
.intro{
    width: 1366px;
    margin: 0 auto;
    height: 768px;
}
.intro-text{
}
.intro-image{
    height: 44px;
    width: 46px;
}

.intro-head{
    float: right;
    font-size: 29pt;
    display: inline-block;
    color: rgba(242, 101, 34, 255);
    text-align: left;
    margin-right: 1180px;
    margin-top: -10px;
}

.intro-heading{
    float: right;
    display: inline-block;
    font-size: 18pt;
    color: rgba(242, 101, 34, 255);
    text-align: left;
    margin-right: 1199px;
    margin-top: -21px;
    margin-bottom: 48px;
}

.intro-text{
    float: right;
    display: inline-block;
    font-size: 18pt;
    color: rgba(255, 255, 255, 255);
    text-align: left;
    margin-right: 313px;
    margin-top: -88px;

}

.intro-number{
    float: left;
    font-size: 18pt;
    color: rgba(255, 255, 255, 255);
    text-align: left;
    margin-left: 875px;
    margin-top: -60px;

}
.intro-gallery{
    display: inline-block;
    width: 1366px;
    height: 500px;
}

.intro-image-container {
    float: left;
    margin-right: 67px;
    display: inline-block;
}
.intro-images{
    height: 200px;
    float: left;
    width: 307px;
    border: 3px solid #878787
}

.intro-image-container:nth-child(1),
.intro-image-container:nth-child(2),
.intro-image-container:nth-child(3) {
    margin-bottom: 98px;

}

.intro-image-info{
     font-size: 24PX;
     color: rgba(255, 255, 255, 255);
     text-align: center;
 }


.text-url{
    font-size: 12pt;
    color: rgba(255, 255, 255, 255);
    text-align: center;
    margin-top: 96px;
    margin-right: 310px;

}

.eBlock,.eBlock table {
    max-width: 895px!important;
}